/* PUT FLUID GRID CODE HERE */
h1, h2, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 900px;
    margin: 0 auto;
}
figure > img {
    width: 100%;
}
main {

}

aside {

}