<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
             <li><a href="#">Ruby</a></li>
        </ul>
    </nav>
    <img src="/assets/AA_Times_Logo.png" alt="">
    <ul class="masthead-copy">
        <li>
            <time> Wednesday, August 20, 2020 </time>
        </li>
        <li>
            <i class="far fa-newspaper"></i><a href="#">Today’s Paper</a>
        </li>
        <li>
            <i class="fas fa-video"></i><a href="#">Video</a>
        </li>
        <li>
            <button class="weather"> 77°F</button>
            
        </li>
        <li>
            <button class="idk">AAO <strong>+100%</strong><</button>
        </li>
    </ul>
</header>

            

    


